@charset "utf-8";

body > div {
  margin-bottom: 100px;
}

.box1 {
  display: flex;
}
/* 플랙스 아이템의 너비값은 내용물에 의해 결정됨 */

.box2 {
  display: flex;
  align-items: center;
}

.box2 div {
  border: 2px solid black;
}
/* 플랙스 아이템의 높이값은 모두 같은 크기로 적용됨 */

.box3 {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  width: 300px;
  border: 5px solid black;
}

.box3 div {
  width: 120px;
}

.box3 div img {
  width: 100%;
  height: auto;
}
/*
  img태그의 너비값 100% = 부모태그 너비값에 맞춘다는 의미
  이때 이미지의 원본에서 이미지 너비가 바뀌는 배율에 따라
  이미지의 높이값도 변하도록 해야함.
  일일히 계산하지 않더라도 높이값을 auto로 처리하면 비뀌는 너비값에 따른
  높이값을 자동으로 계산해서 적용시켜줌
*/

/* 
  플랙스 아이템들은 플랙스 컨테이너 영역안에서 무조건 나란히 배열됨.
  만약 컨테이너 영역의 공간이 부족하다면 아이템의 너비값을 강제로 변경해 일렬로 나란히 배열되도록 만들어줌.
*/

.box4 {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  border: 5px solid black;
}

.box5 {
  display: flex;
}

.box5 div {
  border: 5px solid black;
}